@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Top section */

.divied {
  display: grid;
  grid-template-columns: 1fr 4fr;
  top: 10vh;
}

/* Top Bar*/
.top-bar {
  display: flex;
  gap: 10px;
  align-items: center;
}

/*Movie List Style */
.movies-wrap {
  margin-top: 10px;
  padding: 0 60px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.movies-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.movies-table,
td,
th {
  border: 1px solid #ddd;
  padding: 4px;
}

.movie-poster img {
  max-width: 100px;
  height: 15vh;
  object-fit: cover;
}

.action {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  gap: 20px;
  border: none;
}

.movies-table > .icon {
  padding-bottom: 20px;
}

.movies-table th,
tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ada5a5;
  color: white;
  text-align: center;
}

.movies-table svg {
  cursor: pointer;
}

.movies-table tr:nth-child(even) {
  background-color: #4e4d4d;
}

.movies-table tr:hover {
  background-color: #8a8989;
}

/*movie details section */
.movie-details {
  max-width: 500px;
  padding: 20px;
}

.data-wrap {
  max-width: 700px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.poster-wrap {
  max-width: 350px;
  height: 70vh;
  padding: 15px 0;
}

.poster-wrap img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.trailer-wrap {
  max-width: 150px;
}

.content {
  display: flex;
  gap: 20px;
  padding-bottom: 15px;
}

.logo {
  max-width: 300px;
  height: 10vh;
}

.logo img {
  width: 100%;
  height: 100%;
}

/* Side bar mediaquery*/
@media (max-width: 450px) {
  .sidebar-wrap {
    background-color: #ada5a5;
  }

  .sidebar-wrap ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
  }

  .sidebar-wrap ul li svg {
    display: inline-block;
    font-size: 1.3rem;
    color: #fff;
    position: relative;
    text-indent: 0;
  }
}

@media (max-width: 1164px) {
  .data-wrap {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .trailer-wrap {
    margin-right: 10rem;
  }
}
