.movies-sec {
    max-width: 150px;
    margin-left: 5.8rem;
    margin-top: 4rem;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(197, 124, 97);
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies-sec h2 {
    font-size: 20px;
    color: #fff;
}